{% extends "base.html" %}
{% block title %}Create Post{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card bg-dark text-light border-0 shadow-lg rounded-4 p-4">
          <h2 class="text-center fw-bold mb-4">Create Post</h2>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-4">
              <label class="form-label">{{ form.content.label }}</label>
              {{ form.content }}
            </div>

            <div class="mb-4">
              <label class="form-label">{{ form.image.label }}</label>
              {{ form.image }}
            </div>

            <div class="form-check mb-4">
              {{ form.include_dashboard }}
              <label class="form-check-label">{{ form.include_dashboard.label }}</label>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-outline-light btn-lg">Post</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
